
<html>
    <head>
        <title>Albums</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>

    <body onload="browseAlbum()">
        <h1>Albums</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>

        <br>
        
        <div id="browse">
            <table border="1" cellpadding="5" id="albums-table">
                <thead>
                    <tr>
                        <th><a href="../insert_albums" onClick="newAlbum()">New</a></th>
                        <th>Delete</th>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                    </tr>
                </thead>

                <tbody>

                    {{!-- For each row, print the id, name, release data, stock quantity and price in order --}}
                    {{#each data}}
                    <tr data-value={{this.[Album ID]}}>
                        <td><a href="../update_albums/{{this.[Album ID]}}" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><button onclick="deleteAlbum({{this.[Album ID]}})">Delete</button></td>                       
                        <td>{{this.[Album ID]}}</td>
                        <td>{{this.[Album Name]}}</td>
                        <td>{{this.[Release Date]}}</td>
                        <td>{{this.[Stock Quantity]}}</td>
                        <td>{{this.[Price]}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script src="/js/delete_album.js"></script>

            <p>&nbsp;</p>
        </div> <!-- browse -->

        <!--seach function display the albums information by searching album name-->
        <div>
            <h3>Search album information by album name</h3>

            <form class="seachAlbums">
                <input type="text" placeholder="Please enter an album name..." name="search">
                <input class="btn" type="submit" id="searchAlbums" value="Search">
                </form>
        </div><!-- search-->



    </body>
</html>
