
<html>
    <head>
        <title>Artists Has Albums</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body class="first-color">
        <h1 class="title-format">Artists Has Albums</h1>
        
        <div class="text-font">
            [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
            | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
            
            <p><a href="../">Return to Index Page</a></p>
        </div>

        <div>
            
            <div id="browse_artist_has_albums">

                <table border="1" cellpadding="5" id="artists-albums-table">

                <thead>
                    <tr>
                        <th>
                            <div>
                                <a href="../insert_artists_has_albums"><i class="material-icons button add_circle">add_circle</i></a>
                            </div>
                        </th>

                        <th class="text-font-headers">Delete</th>
                            {{#each data.[0]}}
                            <th class="text-font-headers">
                                {{@key}}
                            </th>
                            {{/each}}
                    </tr>
                </thead>

                <tbody>

                    {{!-- For each row, print the id, name and country in order --}}
                    {{#each data}}
                    <tr class="text-font" data-value={{this.[Artists_Albums_ID]}}>
                        <td><a href="../update_artists_has_albums/{{this.[Artists_Albums_ID]}}"><i class="material-icons button edit">edit</i></a></td>
                        <td><a href="#" onclick="deleteArtistsHasAlbums({{this.[Artists_Albums_ID]}})"><i class="material-icons button delete">delete</i></a></td>                       
                        <td>{{this.[Artists_Albums_ID]}}</td>
                        <td>{{this.[Artist ID]}}</td>
                        <td>{{this.[Album ID]}}</td>
                    </tr>
                    {{/each}}
                </tbody>

                </table>
                <script src="/js/delete_artists_has_albums.js"></script>
                <p>&nbsp;</p>
            </div> <!-- browse -->

            <!-- DELETE M:M Relationship Deletion: dis-associate an album from an artist -->


            <div id="delete_artists_has_albums" hidden>
                <form method="POST" id="deleteartisthasalbums">
                    <legend><strong>Dis-associate an album from an artist</strong></legend>
                    
                    <fieldset class="fields">
                        <p>Are you sure you wish to delete the following?</p>
                        <input type="hidden" name="artist_has_albums_id" id="deleteartisthasalbumsID" value="1">
                        <label> artist_has_albums_id </label> <input type="number" name="artist_has_albums_id">

                    
                    </fieldset>
                    
                    <input class="btn" type="submit" id="deleteartisthasalbums" value="Submit">
                    <input class="btn" type="button" value="Cancel" onClick="window.location.reload();">
                </form> 
            </div><!-- delete -->

            <script>
                function deleteFunction() {
                  var x = document.getElementById("delete_artists_has_albums");
                  x.hidden
                  x.hidden = !x.hidden
                }
            </script>


            <!--seach function display the albums belong to the artist-->
            <div class="text-font">
                <h3>Display all albums belong to an artist</h3>

                <form class="searchAlbums">
                    <input type="text" placeholder="Please enter an artist name..." name="search">
                    <input class="btn" type="submit" id="searchAlbums" value="Search">
                    <a href='/artists'><button>Reset</button></a>
                </form>
                
            </div>
        </div>
    </body>
</html>