<html>
    <head>
        <title>Customers</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
    </head>

    <body>
        <h1>Customers</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>

        <div id="browse">
            
            <table id="customers-table" border="1" cellpadding="5">
                    
                <thead>
                    <tr>
                        <th><a href="../insert_customers" class="btn btn-outline-danger btn-md">New</a></th>
                        <th></th>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><a href="../update_customers?{{this.[Customer ID]}}" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><button onclick="deleteCustomer({{this.[Customer ID]}})">Delete</button></td>
                        <td>{{this.[Customer ID]}}</td>
                        <td>{{this.[First Name]}}</td>
                        <td>{{this.[Last Name]}}</td>
                        <td>{{this.Email}}</td>
                        <td>{{this.Phone}}</td>
                        <td>{{this.Address}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script src="/js/delete_customer.js"></script>

            <p>&nbsp;</p>
        </div> <!-- browse -->

        <!--seach function display the customer information by searching customer name-->
        <div>
            <h3>Search customer information by customer last name</h3>

            <form class="searchCustomer">
                <input type="text" placeholder="Enter a customer's last name..." name="search">
                <input class="btn" type="submit" id="searchCustomer" value="Search">
                </form>
        </div><!-- search-->

        <p>&nbsp;</p>

    </body>
</html>
