
<html>
    <head>
        <title>Genres Has Albums</title>
        
        <!-- Link CSS and JS files -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>

    <body class="first-color">
        <h1 class="title-format">Genres Has Albums</h1>
        
        <div class="text-font">
            [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
            | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]

            <p><a href="../">Return to Index Page</a></p>
        </div>

        <div id="browse_genres_has_albums">

            <table border="1" cellpadding="5" id="genres-albums-table">
    
                <thead>
                    <tr>
                        <th>
                            <div class="aligner">
                                <a href="../insert_genres_has_albums" onClick="newGenresHasAlbums()"><i class="material-icons button add_circle">add_circle</i></a>
                            </div>
                        </th>

                        <th class="text-font-headers">Delete</th>
                            {{#each data.[0]}}
                            <th class="text-font-headers">
                                {{@key}}
                            </th>
                            {{/each}}
                    </tr>
                </thead>

                <tbody>
                    {{!-- For each row, print the id, name and country in order --}}
                    {{#each data}}
                    <tr class="text-font" data-value={{this.[Genres_Albums_ID]}}>
                        <td><a href="../update_albums/{{this.[Album ID]}}"><i class="material-icons button edit">edit</i></a></td>
                        <td><a onclick="deleteGenresHasAlbums({{this.[Genres_Albums_ID]}})"><i class="material-icons button delete">delete</i></a></td>                       
                        <td>{{this.[Genres_Albums_ID]}}</td>
                        <td>{{this.[Genre ID]}}</td>
                        <td>{{this.[Album ID]}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <script src="/js/delete_genres_has_albums.js"></script>
            <p>&nbsp;</p>
        </div> <!-- browse -->

        <!-- DELETE M:M Relationship Deletion: dis-associate an album from an artist -->


        <div id="delete_genres_has_albums" hidden>
            <form method="POST" id="deletegenreshasalbums">
                <legend><strong>Dis-associate a genre from an artist</strong></legend>
                
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="genres_has_albums_id" id="deletegenreshasalbumsID" value="1">
                    <label> genres_albums_id </label> <input type="number" name="genres_has_albums_id">

                </fieldset>
                
                <input class="btn" type="submit" id="deletegenreshasalbums" value="Submit">
                <input class="btn" type="button" value="Cancel" onClick="window.location.reload();">
            </form> 
        </div><!-- delete -->

        <script>
            function deleteFunction() {
                var x = document.getElementById("delete_genres_has_albums");
                x.hidden
                x.hidden = !x.hidden
            }
        </script>


        <!--search function display the albums under a genre-->
        <div class="text-font">
            <h3>Display all albums under a genre</h3>

            <form class="seachAlbums">
                <input type="text" placeholder="Please enter a genre name..." name="search">
                <input class="btn" type="submit" id="searchAlbums" value="Search">
                <a href='/genres'><button>Reset</button></a>
            </form>
        </div>

    </body>
</html>