
<html>
    <head>
        <title>Genres Has Albums</title>
        
        <!-- Link CSS and JS files -->
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>

    <body>
        <h1>Genres Has Albums</h1>
        
        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
            
            <div id="browse_genres_has_albums">

                <table border="1" cellpadding="5" id="genres-albums-table">
      
                <thead>
                    <tr>
                        <th><a href="../insert_artists_has_albums" onClick="newArtistsHasAlbums()">New</a></th>
                        <th>Delete</th>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                    </tr>
                </thead>

                <tbody>

                    {{!-- For each row, print the id, name and country in order --}}
                    {{#each data}}
                    <tr data-value={{this.[Genres_Albums_ID]}}>
                        <td><a href="../update_genres_has_albums/{{this.[Genres_Albums_ID]}}" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><button onclick="deleteGenresHasAlbums({{this.[Genres_Albums_ID]}})">Delete</button></td>                       
                        <td>{{this.[Genres_Albums_ID]}}</td>
                        <td>{{this.[Genre ID]}}</td>
                        <td>{{this.[Album ID]}}</td>
                    </tr>
                    {{/each}}
                </tbody>


                </table>
                <script src="/js/delete_genres_has_albums.js"></script>
                <p>&nbsp;</p>
            </div> <!-- browse -->

            <!-- DELETE M:M Relationship Deletion: dis-associate an album from an artist -->


            <div id="delete_genres_has_albums" hidden>
                <form method="POST" id="deletegenreshasalbums">
                    <legend><strong>Dis-associate a genre from an artist</strong></legend>
                    
                    <fieldset class="fields">
                        <p>Are you sure you wish to delete the following?</p>
                        <input type="hidden" name="genres_has_albums_id" id="deletegenreshasalbumsID" value="1">
                        <label> genres_albums_id </label> <input type="number" name="genres_has_albums_id">

                    
                    </fieldset>
                    
                    <input class="btn" type="submit" id="deletegenreshasalbums" value="Submit">
                    <input class="btn" type="button" value="Cancel" onClick="window.location.reload();">
                </form> 
            </div><!-- delete -->

            <script>
                function deleteFunction() {
                  var x = document.getElementById("delete_genres_has_albums");
                  x.hidden
                  x.hidden = !x.hidden
                }
            </script>


            <!--seach function display the albums under a genre-->
            <div>
                <h3>Display all albums under a genre</h3>

                <form class="seachAlbums">
                    <input type="text" placeholder="Please enter a genre name..." name="search">
                    <input class="btn" type="submit" id="searchAlbums" value="Search">
                  </form>
            </div>

        </div>

    </body>
</html>