<html>
    <head>
        <title>Orders</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />

        <script language="JavaScript" src="../js_functs/orders/gen_orders.js"></script>

    </head>

    <body onload="browseOrder()">
        <h1>Orders</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>

        <div id="browse">

            <table id="orders-table" border="1" cellpadding="5">
                    
                <thead>
                    <tr>
                        <th><a href="../insert_orders" class="btn btn-outline-danger btn-md">New</a></th>
                        <th></th>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><a href="../update_orders?{{this.[Order ID]}}" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.[Order ID]')">Delete</a></td>
                        <td>{{this.[Order ID]}}</td>
                        <td>{{this.[Order Date]}}</td>
                        <td>{{this.[Order Total]}}</td>
                        <td>{{this.[Customer ID]}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            
            <p>&nbsp;</p>
        </div> <!-- browse -->

        <!--seach function display the order information by searching customer ID-->
        <div>
            <h3>Search order information by customer ID</h3>

            <form class="searchOrder">
                <input type="int" placeholder="Enter a customer's ID..." name="search">
                <input class="btn" type="submit" id="searchOrder" value="Search">
                </form>
        </div><!-- search-->

        <p>&nbsp;</p>
        
        <div id="delete" hidden>
            <form method="POST" id="deleteOrder">
                <legend><strong>Delete Order</strong></legend>

                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="OrderID" id="deleteOrderID" value="1">
                    <label> Order ID </label> <input type="number" name="oid">
                </fieldset>
                
                <input class="btn" type="submit" id="deleteOrder" value="Delete Order">
                <input class="btn" type="button" value="cancel" onClick="browseOrder()">
            </form> 
        </div><!-- delete -->

        <script>
            function deleteFunction() {
              var x = document.getElementById("delete");
              x.hidden
              x.hidden = !x.hidden
            }
        </script>
    </body>
</html>
