<html>
    <head>
        
        <title>Update Orders</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    </head>

    <body class="first-color">
        <h1 class="title-format">Update Orders</h1>

        <div class="text-font">
            [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
            | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
            
            <p><a href="../">Return to Index Page</a></p>
        </div>

        <div class="text-font" id="update_order">
            <form class="text-font" id="updateOrder">
                {{#each data}}      
                    <fieldset>
                        <h3>Selected Order Details</h3>
                        <div class="form-group">
                            <p>Order ID (<a id="order_id" value="{{this.order_id}}">{{this.order_id}}</a>)</p>

                            <label for="order_date"> Order Date (Format YYYY/MM/DD):  </label> 
                            <input id="order_date" type="text" class="form-control" name="order_date" value="{{this.order_date}}">

                            <label for="order_total">Order Total: </label> 
                            <input id="order_total" type="float" class="form-control" name="order_total" value="{{this.order_total}}">

                            <label for="customer_id"> Customer ID: </label> 
                            <input id="customer_id" type="int" class="form-control" name="customer_id" value="{{this.customer_id}}">
                        </div>
                    </fieldset>
                
                    <br>
                    <br>

                    <div>
                        <input onclick="window.location.href='/orders';" class="btn" type="submit" id="UpdateSaveOrder" value="Update Order">
                        <a href="/orders"><input class="btn" type="button" value="Cancel"></a>
                    </div>
                {{/each}}
            </form> 
        </div><!-- update -->

        <script src="/js/update_order.js"></script>

        
    </body>
</html>
