<html>
    <head>
        <title>Update Customers</title>
        
        {{!-- <link href="style.css" rel="stylesheet" type="text/css" /> --}}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>

    <body>
        <h1>Update Customer</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>

        <div id="update_customers">
            <form method="POST" id="updateCustomer">
                {{#each data}}
                <fieldset>
                    <h3>Selected Customer Details - Make Edits in the Input Fields Below</h3>
                    <div class="form-group">
                        <div>
                            <p>Customer (<a id="customer_id">{{this.[Customer ID]}}</a>)</p>
                            <label for="fname"> First Name: </label> 
                            <input id="fname" type="text" class="form-control" name="fname" value="{{this.[First Name]}}"><br><br>
                            <label for="lname"> Last Name: </label> 
                            <input id="lname" type="text" class="form-control" name="lname" value="{{this.[Last Name]}}"><br><br>
                            <label for="email"> Email: </label> 
                            <input id="email" type="email" class="form-control" name="email" value="{{this.[Email]}}"><br><br>
                            <label for="phone"> Phone: </label> 
                            <input id="phone" type="tel" class="form-control" name="phone" value="{{this.[Phone]}}"><br><br>
                            <label for="address"> Address: </label> 
                            <input id="address" type="text" class="form-control" name="address" value="{{this.[Address]}}"><br><br>
                        </div>
                    </div>
                </fieldset>
                <br>
                
                <input onclick="window.location.href='/customers';" class="btn" type="submit" id="UpdateSaveCustomer" value="Update Customer">
                <a href="/customers"><input class="btn" type="button" value="Cancel"></a>
                {{/each}}
            </form> 
        </div><!-- update -->
    <script src="/js/update_customer.js"></script>
    </body>
</html>
