<html>
    <head>
        
        <title>Update Orders</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    </head>

    <body class="first-color">
        <h1 class="title-format">Update Orders</h1>

        <div class="text-font">
            [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
            | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
            
            <p><a href="../">Return to Index Page</a></p>
        </div>

        <div class="text-font" id="update_order">
            <form class="text-font" id="updateOrder">

                <fieldset>
                    <h3>Albums In Order</h3>
                    <table id="updateOrder-table" border="1" cellpadding="5">
                        <thead class="text-font-headers">
                            <tr class="text-font-headers">
                                <th class="text-font-headers">Delete</th>
                                <th class="text-font-headers">Album ID</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {{#each order_albums}}
                                <tr class="text-font" data-value={{this.[Album ID]}}>
                                    <td><a href="#" onclick="deleteAlbumFromOrder({{this.[Album ID]}}, {{this.OrderID}})"><i class="material-icons button delete">delete</i></a></td>
                                    <td align="center">{{this.[Album ID]}}</td>
                                </tr>
                            {{/each}}
                            <script src="/js/delete_album_from_order.js"></script>
                        </tbody>
                    </table>
                </fieldset>
                
                <br><br>

                {{#each data}}      
                    <fieldset>
                        <h4>Selected Order Details</h4>
                        <div class="form-group">
                            <p>Order ID (<a id="order_id" value="{{this.[Order ID]}}">{{this.[Order ID]}}</a>)</p>

                            <label for="order_date"> Order Date (Format YYYY/MM/DD):  </label> 
                            <input id="order_date" type="text" class="form-control" name="order_date" value="{{this.[Order Date]}}">

                            <label for="customer_id"> Customer ID: </label> 
                            <input id="customer_id" type="int" class="form-control" name="customer_id" value="{{this.[Customer ID]}}">
                        </div>
                    </fieldset>
                {{/each}}

                <div>
                    <input onclick="window.location.href='/orders';" class="btn" type="submit" id="UpdateSaveOrder" value="Update Order">
                    <a href="/orders"><input class="btn" type="button" value="Cancel"></a>
                </div>
            </form> 
        </div><!-- update -->

        <script src="/js/update_order.js"></script>

        
    </body>
</html>
