<html>
    <head>
        <title>Update Album</title>     
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body class="first-color">
        <h1 class="title-format">Update Album</h1>

        <div class="text-font">
            [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
            | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
            
            <p><a href="../">Return to Index Page</a></p>
        </div>
        
        
        <div class="text-font" id="update_album">
            <form class="text-font" method="POST" id="updateAlbum">
                {{#each data}}
                <!-- Update of An Existing Album -->
                <fieldset>
                    <h3>Selected Album Details</h3>
                    <div class="form-group">
                        <p>Album (<a id="album_id">{{this.album_id}}</a>)</p>

                        <label for="alname"> Album Name: </label> 
                        <input id="alname" type="text" name="alname" value="{{this.album_name}}"><br><br>
                        <label for="release_date"> Release Date: </label> 
                        <input id="release_date" type="date" name="release_date" DisplayFormat="dd-mm-yyyy" value="{{this.release_date}}"><br><br>
                        <label for="stock_qty"> Quantity in Stock: </label> 
                        <input id="stock_qty" type="number" name="stock_qty" value="{{this.stock_qty}}"><br><br>
                        <label for="price"> Price: </label> 
                        <input id="price" type="number" step="0.01" name="price" value="{{this.price}}"><br><br>
                    </div>
                </fieldset>
                {{/each}}
                <br><br>

                <fieldset>
                <h3>Current Artists</h3>
                <table id="artists-albums-table" border="1" cellpadding="5">
                    <tr>
                      <th class="text-font-headers">Artist ID</th>
                      <th class="text-font-headers">Artist Name</th>
                      <th class="text-font-headers">Delete</th>

                    </tr>
                    {{#each currentArtist}}
                    <tr class="text-font" data-value={{this.Artists_Albums_id}}>  
                        <td align="center">{{this.artist_id}}</td>
                        <td align="center">{{this.artist_name}}</td>
                        <td><a href="#" onclick="deleteArtistsHasAlbums({{this.Artists_Albums_id}})"><i class="material-icons button delete">delete</i></a></td>
                    </tr>
                    {{/each}}
                    <script src="/js/delete_artists_has_albums.js"></script>
                </table>
                <br>
                <br>
                Please click <a href="../artists_has_albums">here</a> to add more artists to the album

                </fieldset>
                <br>
                <br>

                <fieldset>
                <h3>Current Genres</h3>
                <table id="genres-albums-table" border="1" cellpadding="5">
                    <tr>
                      <th class="text-font-headers">Genre ID</th>
                      <th class="text-font-headers">Genre Name</th>
                      <th class="text-font-headers">Delete</th>

                    </tr>
                    {{#each currentGenre}}
                    <tr class="text-font" data-value={{this.Genres_Albums_id}}>  
                        <td align="center">{{this.genre_id}}</td>
                        <td align="center">{{this.genre_name}}</td>
                        <td><a href="#" onclick="deleteGenresHasAlbums({{this.Genres_Albums_id}})"><i class="material-icons button delete">delete</i></a></td>
                    </tr>
                    {{/each}}
                    <script src="/js/delete_genres_has_albums.js"></script>
                </table>
                <br>
                <br>
                Please click <a href="../genres_has_albums">here</a> to add more genres to the album
                </fieldset>


            </form> 
        </div><!-- update -->

        <p>&nbsp;</p>

        <form class="text-font" id="submitForm">
            <div>
                <input onclick= "window.location.href='/albums';" class="btn" type="submit" value="Save album">
                <a href="/albums"><input class="btn" type="button" value="Cancel"></a>
            </div>
        </form>

    <script src="/js/update_album.js"></script>
    </body>
</html>